:root{
    --purple-color: #6737b7;
    --veronica-color: #8e4fec;
    --lavender-color: #b369f2;
    --amethyst-color: #986eb8;

    --mauve-color: #cbb0f9;
    --periwinkle-color: #dac5fe;
    --rosequartz-color: #aea2b0;
    --wenge-color: #635b6a;
    --licorice-color: #120c16;

    --contrastgreen-color: #adec4f;
}