body {
    background: rgb(18,12,22);
    background: linear-gradient(117deg, rgba(18,12,22,1) 0%, rgba(99,91,106,1) 80%, rgba(152,110,184,1) 100%);
    font-family: "Poppins", helvetica, arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
a:link{
    color: var(--contrastgreen-color);
}
a:hover{
    color: var(--licorice-color);
}
a:visited{
    color: var(--contrastgreen-color);
}
/*-------------HEADER CSS------------------*/
#titleBanner {
    background-color: var(--amethyst-color);
    border-radius: 100px;
    margin: 20px;
    height: auto;
    display: flex;
    align-items: center;
}
#icon{
    display: inline-block;
    margin: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
#iconPic{
    width: 90PX;
}
header #title{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#headerButtons{
    display: inline-block; 
    margin-top: auto;
    margin-bottom: auto;
    margin-left: AUTO;
    margin-right: 30px;
}

#headerButtons button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 15px;
    margin: 3px;
    background-image: linear-gradient(var(--wenge-color), var(--purple-color) 50%);
    border-radius: 20PX;
    letter-spacing: .04em;
}
#headerButtons button:hover{
    background-image: linear-gradient(var(--licorice-color), var(--wenge-color) 50%);
}

.credits {
    visibility: hidden;
    font-size: 1em;
    width: 120px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
}
.credits p{
    font-size: 1em;
}
.credits a{
    font-size: 1.3em;
}


/* ------------------ HOME PAGE FOR WEBAPP----------------------------- */

#home{
    background-color: var(--amethyst-color);
    display: none;
    border-radius: 2px;
    height: 70%;
}
#home div{
   margin: 15px;
   border-style: solid;
   border-radius: 10px;
}
.h1{
    background: linear-gradient(0deg, var(--wenge-color) 16%, var(--mauve-color) 100%);
    flex: 1;
}
.h2{
    background: linear-gradient(0deg, var(--wenge-color) 16%, var(--mauve-color) 100%);
    flex: 2;
}
#home table{
    width: 100%;
    text-align: center;
}
#home th{
    border-style: solid;
    border-color: var(--contrastgreen-color);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}
#home td{
    color: var(--licorice-color);
    font-weight: 600;
    font-size: 1.5em;
    padding: 2px;
}
/* ------------------ SEARCH PAGE FOR WEBAPP----------------------------- */
#search{
    background-color: var(--amethyst-color);
    display: none;
    height: 70%;
    border-radius: 2px;
}

#basicSongSearch{
flex: 1;
margin: 15px;
border-style: solid;
border-radius: 10px;
background: linear-gradient(0deg, var(--wenge-color) 16%, var(--mauve-color) 100%);
}
#basicSongSearch h2{
text-align: center;
}
#basicSongSearch div{
    padding-bottom: 15px;
    margin-left: 15PX;
}
#basicSongSearch{
    padding: 10px;
}
#basicSongSearch label{
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    width: 80px;
}
.forumBoxes{
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: 0px;
}


#bssButtonDiv{
    display: flex;

}
#basicSongSearch button{
    padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
    color: white;
    font-size: 15px;
    margin: 10px;
    background-image: linear-gradient(var(--wenge-color), var(--purple-color) 50%);
    border-radius: 20PX;
    letter-spacing: .04em;
}
#basicSongSearch button:hover{
    background-image: linear-gradient(var(--licorice-color), var(--wenge-color) 50%);
}


#searchResults{
flex: 3;
background: linear-gradient(0deg, var(--wenge-color) 16%, var(--mauve-color) 100%);
margin: 15px;
border-style: solid;
border-radius: 10px;
text-align: center;
overflow: auto;
}
#searchResults h2{
    font-size: 2em;
}
#searchResults table{
border-collapse: collapse;
width: 100%;
text-align: center;

}        
#searchResults th{
    border-style: solid;
    border-color: var(--contrastgreen-color);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px; 
}
#searchResults tbody{
    margin-left: 10px;

}

#searchResults img{
    width:18px;
}

#searchResults tr td{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.3em;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}
#searchResults tr:nth-child(2n){
    background-color: #231b2620;
    
}
#searchResults button{
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    color: white;
    font-size: 14px;
    background-image: linear-gradient(var(--wenge-color), var(--purple-color) 50%);
    border-radius: 20PX;
    letter-spacing: .04em;
    margin-top: auto;
    margin-bottom: auto;
}
#searchResults button:hover{
    background-image: linear-gradient(var(--licorice-color), var(--wenge-color) 50%);
}

.popup{
    
    font-size: 1em;
    background-color: var(--wenge-color);
    text-align: center;
    border-radius: 6px;
    font-weight: 600;
    width: 350px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    
}
/* ------------------ SONG PAGE FOR WEBAPP----------------------------- */
#songDets{
    background-color: var(--amethyst-color);
    display: none;
    height: 70%;
}

#songInfoDiv{
    flex:2;
    background: linear-gradient(0deg, var(--wenge-color) 16%, var(--mauve-color) 100%);
    margin: 15px;
    border-style: solid;
    border-radius: 10px;
    overflow: auto;
    text-align: center;
    list-style-type: NONE;
}
#songInfo h2{
    text-align: center;
}

#songInfo li,p,ul{
    font-size: 1.5em;
    list-style-type: NONE;
    padding-left: 0px;
}

#songInfoDiv header,h2{
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}

#radioChart{
    flex: 3;
    background: linear-gradient(0deg, var(--wenge-color) 16%, var(--mauve-color) 100%);
    margin: 15px;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    overflow: auto;
}
#chartContainer{
    background-color: rgba(0, 0, 0, .6);
    width: 56%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 500px;
}
/* ------------------ PLAYLIST PAGE FOR WEBAPP----------------------------- */
#playlist{
    background-color: var(--amethyst-color);
    display: none;
    height: 70%;
    border-radius: 2px;
    flex-direction: column;
    

}
#playlist div:first-child{
    flex: 1;
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    margin: 15px;
    background: var(--mauve-color);
    margin-bottom: 0px;
}
#playlist div:first-child *{
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
}
#playlist div:first-child h2{
    font-size: 2em;
    margin-left: 20px;
}
#playlist div:first-child p{
    font-size: 1.6em;
}
  
#playlist div:first-child button{
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    color: white;
    font-size: 15px;
    background-image: linear-gradient(var(--wenge-color), var(--purple-color) 50%);
    border-radius: 20PX;
    letter-spacing: .04em;
}
#playlist div:first-child button:hover{
    background-image: linear-gradient(var(--licorice-color), var(--wenge-color) 50%);
}


#playlist div:last-child{
    margin: 15px;
    margin-top: 0px;
    border-style: solid;
    border-radius: 10px;
    background: linear-gradient(0deg, var(--wenge-color) 16%, var(--mauve-color) 100%);
    flex: 6;
    overflow: auto;
}
#playlist div:last-child table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
#playlist div:last-child th{
    border-style: solid;
    border-color: var(--contrastgreen-color);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}
#playlist div:last-child th{
    margin-top: 10px;
}
#playlist tr:nth-child(2n){
    background-color: #231b2620;
    
}

#playlist div:last-child button{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    color: white;
    font-size: 10px;
    background-image: linear-gradient(var(--wenge-color), var(--purple-color) 50%);
    border-radius: 20PX;
    letter-spacing: .04em;
}
#playlist div:last-child button:hover{
    background-image: linear-gradient(var(--licorice-color), var(--wenge-color) 50%);
}

/* ------------------ FOOTER FOR WEBAPP----------------------------- */
footer {
    height: 8%;
    color: var(--contrastgreen-color);
    background-color: var(--amethyst-color);
    border-radius: 2px;
    text-align: center;
}

footer p{
font-size: 2em;  
padding-top: 1em ;  
}